<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<h2>DIAGNOS-U</h2>
	</div>
	</header>
	
	<div>
	<p style= "font-size:18px;">You might be facing Dysthymia. It is a type of chronic form of depression, where you might loose interest in daily activities while feeling hopeless, where these feelings may even last up to a year. Below are links that you can use for further help and guidance.</p>
	</div>
	
	<a href="https://www.mayoclinic.org/diseases-conditions/persistent-depressive-disorder/symptoms-causes/syc-20350929">Mayo Clinic</a>
	<br><a href="https://www.healthline.com/health/dysthymia-vs-depression#treatment">Healthline</a>

	<h2 style="color:red;">DISCLAIMER!
	<br>Diagnosis is not 100% accurate. Use this diagnosis as a guide rather than a solution. Seek professional help if needed.</h2>
	
	
	

</body>
</html>