<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<h2>Mental Health Classification</h2>
	</div>
	</header>
	
	<div>
	<p style= "font-size:18px;">You might be facing PTSD. It is a conditon where you might have intense and disturbing thoughts that is often caused by traumatic events. These thoughts is often trigged, but not limited to situations that might remind you of such event. Below are links that you can use for further help and guidance.</p>
	</div>
	
	<a href="https://www.mayoclinic.org/diseases-conditions/post-traumatic-stress-disorder/symptoms-causes/syc-20355967">Mayo Clinic</a>
	<br><a href="https://medicalhypnosismalaysia.com/main-applications-of-medical-hypnosis/trauma-therapy/">Medical Hypnosis Malaysia</a>
	<br><a href="https://thewaveclinic.com/mental-health/trauma/">The Wave Clinic</a>	

	<h2 style="color:red;">DISCLAIMER!
	<br>Diagnosis is not 100% accurate. Use this diagnosis as a guide rather than a solution. Seek professional help if needed.</h2>
	
	
	

</body>
</html>