<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<h2>DIAGNOS-U</h2>
	</div>
	</header>
	
	<div>
	<p style= "font-size:18px;">You might be facing Schizoprenia. This is a disorder where you might interpret reality abnormally, which may result in effcts such as hallucinations, delusions and disordered thinking that may impair ability to carry out daily functions. Below are links that you can use for further help and guidance.</p>
	</div>
	
	<a href="https://www.mayoclinic.org/diseases-conditions/schizophrenia/symptoms-causes/syc-20354443">Mayo Clinic</a>
	<br><a href="https://relate.com.my/schizophrenia/getting-help-for-schizophrenia/">Relate Malaysia</a>

	<h2 style="color:red;">DISCLAIMER!
	<br>Diagnosis is not 100% accurate. Use this diagnosis as a guide rather than a solution. Seek professional help if needed.</h2>
	
	
	

</body>
</html>